body {
    padding-top: 60px;
}
h2 small {
    color: #5a5a5a;
}
.container-fluid > .sidebar {
    position: fixed !important;
    margin-top: 60px;
}
.sample-image {
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
    float: left;
    margin: 0 10px 4px 0;
    padding: 5px;
}
.demo {
    height: 450px;
    position: relative;
}
.demo .height-controlled {
    height: 100%;
}
.demo pre {
    height: 100%;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}
.map {
    height: 100%;
    border: 1px solid #a5a5a5;
    -moz-box-shadow: 5px 5px 5px #d2d2d2;
    -webkit-box-shadow: 5px 5px 5px #d2d2d2;
    box-shadow: 5px 5px 5px #d2d2d2;
}
.layer-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 8px;
    margin-bottom: 15px;
    z-index: 100;
    float: right;
}
.layer-button-row a{
    margin-bottom: 5px;
}
.iw-content {
    
}
.iw-content h3 {
    font-size: 18px;
    text-align: center;
    margin: 4px 0 4px 0;
    line-height: inherit;
}
.iw-content h4 {
    font-size: 14px;
    text-align: center;
    margin: 0 0 4px 0;
    line-height: inherit;
}
ul.docs li, ol.docs li{
    color: #404040 !important;
}